/*<!-- ==================  Basic Part  =======================-->*/
body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

/*<!-- ==================  Banner Section  =======================-->*/
#banner {
    background-image: url(images/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.9;
    padding: 13%;
}

#banner h1 {
    color: rgb(132, 7, 248);
    font-size: 6rem;
    text-align: center;
}

#banner p {
    font-size: 1.9rem;
    text-align: center;
    font-weight: 700;
}

#banner button {
    height: 75px;
    width: 175px;
    border-radius: 30px;
    background-image: linear-gradient(to right, tomato, orange);
    border: none;
    font-size: 20px;
    font-weight: 510;
    margin-left: 45%;
    margin-top: 8%;
}

.regular-activities {
    text-align: center;
}

.regular-activities h1 {
    font-size: 3.5rem;
}

.regular-activities p {
    color: rgb(61, 53, 53);
    font-size: 2rem;
}

.regular-activities #fund-tracking {
    margin-top: 7%;
}

.regular-activities span {
    font-size: 2.5rem;
    padding: 20px;
    border: 2px solid rgb(237, 246, 250);
    border-radius: 10px;
    background-color: rgb(237, 246, 250);
    margin: 3px;
    color: rgb(124, 104, 104);
    font-weight: 600;
}

#fixed-color {
    border: 3px solid orangered;
    background-color: rgb(255, 198, 198);
    color: orangered;
}

#donation-field {
    height: 90px;
    width: 60%;
    margin-top: 50px;
    border: none;
    border-bottom: 2px solid rgb(153, 140, 140);
    font-size: 1.5rem;
    text-align: center;
}

#btn {
    height: 75px;
    width: 175px;
    border-radius: 30px;
    background-image: linear-gradient(to right, tomato, orange);
    border: none;
    font-size: 20px;
    font-weight: 510;
    margin-top: 10px;
}

#donate-plan {
    text-align: center;
    margin-top: 7%;
}

#donate-plan h1 {
    font-size: 3.5rem;
}

#heading-line {
    margin-top: 20px;
    font-size: 1.2rem;
    color: gray;
}

.our-activities {
    display: flex;
    margin-top: 10%;
    /*margin-bottom: 10%;
    margin-right: 7%;*/
    margin-left: 5%;
    width: 100%;

}

.sub-part {
    padding: 50px;
    margin: 5px;
    padding: 100px;
    border: 2px solid black;
}

#light-coral {
    background-color: lightcoral;
}

#lite-cyan {
    background-color: lightgoldenrodyellow;
}

#lite-purple {
    background-color: lightcyan;
}